# Django & DRF Core
Django==5.0
djangorestframework==3.16.0
gunicorn
# Database Connector
psycopg2-binary

# API & Authentication
dj-rest-auth
django-filter==25.1

# API Documentation
drf-yasg

# CORS
django-cors-headers

# PDF & Image Generation
Pillow
weasyprint==65.1
whitenoise
# Faker
Faker

#Sentry
sentry-sdk[django]
